
client/node_modules
server/node_modules

# frontend/dist
server/dist
client/dist

# Enviroment variables
client/.env
server/.env
server/.env.*

.env.*

/server/app.log



server/app.log