Hi {{FirstName}},<br></br><br></br>

We’ve successfully verified your documents – great job!<br></br>
Your NIF request (Tax Identification Number) is now in progress. We’ll notify you once it is obtained.<br></br><br></br>

You can track your application progress anytime via the portal:<br></br>

<a href="{{PortalLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  Check Status
</a><br></br><br></br>

Need help? Just reply to this email or message us on WhatsApp.<br></br><br></br>

<a href="{{WhatsAppLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  Whatsapp Here
</a><br></br><br></br>

Thanks for staying on track!<br></br><br></br>

Best regards,<br></br>
E360 Consult
