Hi {{FirstName}},<br></br><br></br>

We’ve received your NIF document.<br></br>
We are now working on opening your Portuguese bank account and will notify you once it's done.<br></br><br></br>

You can track your application progress here:<br></br>

<a href="{{PortalLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  View Status
</a><br></br><br></br>

As always, feel free to reply to this email or message us on WhatsApp if you need anything.<br></br><br></br>

<a href="{{WhatsAppLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  Whatsapp Here
</a><br></br><br></br>

Thank you for your trust!<br></br><br></br>

Best regards,<br></br>
E360 Consult
