Hi Team,<br></br><br></br>

{{CustomerName}} has successfully uploaded the NIF Document.<br></br><br></br>

<a href="{{AdminPortalLink}}" style="display:inline-block;background-color:#F7C228;color:#000;padding:10px 20px;border-radius:8px;text-decoration:none;font-weight:bold;">
  View NIF Document
</a><br></br><br></br>

Please verify the document and initiate the Bank account opening process for the client.<br></br><br></br>

Regards,<br></br>
E360 Consult
