<p>Hello {{assigneeName}},</p><br></br><br></br>

<p>The task you were assigned to has been <strong>deleted</strong>.</p><br></br><br></br>

<ul>
  <li><strong>Task:</strong> {{taskName}}</li>
  <li><strong>Deleted By:</strong> {{deletedBy}}</li>
  <li><strong>Deleted On:</strong> {{deletedAt}}</li>
</ul><br></br><br></br>

<p>This task has been removed from your assignment list and dashboard.</p><br></br><br></br>

<p>Thanks,<br/>Team E-360</p>
