Hi Team,<br></br><br></br>

{{CustomerName}} has received UAE residence visa and Emirates ID.<br></br>
Please unlock final business setup step and assist with bank account opening.<br></br><br></br>

Client Info:<br></br>
<a href="{{AdminPortalLink}}">{{AdminPortalLink}}</a><br></br><br></br>

Thanks,<br></br>
E360 Consult
