Hi Team,<br></br><br></br>

{{CustomerName}} has signed the Memorandum of Association.<br></br>
Please proceed with issuing the business license.<br></br><br></br>

View client dashboard:<br></br>
<a href="{{AdminPortalLink}}">{{AdminPortalLink}}</a><br></br><br></br>

Thanks,<br></br>
E360 Consult
