Hi Team,<br></br><br></br>

Payment has been received from {{CustomerName}} for their Dubai business setup.<br></br>
Please proceed with MOA drafting and license issuance.<br></br><br></br>

View client profile:<br></br>
<a href="{{AdminPortalLink}}">{{AdminPortalLink}}</a><br></br><br></br>

Regards,<br></br>
E360 Consult
