Hi Team,<br></br><br></br>

{{CustomerName}}’s business bank account is now open.<br></br>
Please mark the project as complete and offer post-setup assistance.<br></br><br></br>

Dashboard:<br></br>
<a href="{{AdminPortalLink}}">{{AdminPortalLink}}</a><br></br><br></br>

Regards,<br></br>
E360 Consult
